@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* -- Variables -- */

:root {
  --spacing: 20px;
  --half-spacing: 10px;
  --double-spacing: 40px;
  --ligt-gray: rgb(247, 247, 247);
  --nt-btn-pad: 12px 30px;
  --nt-radius: 12px;
  --blue: rgb(13, 110, 253);
  --apple-blue: rgb(0, 122, 255);
  --light-gray-text: rgb(173, 181, 189);
}

/* -- Reset -- */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--blue);
}

svg {
  width: 100%;
  height: 100%;
}

/* Font */

* {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 700;
}

/* -- All page basic styling -- */

@media (max-width: 600px) {
  p {
    font-size: larger;
  }
  .bs-btn {
    font-size: larger;
  }
}

@media (max-width: 711pt) {
  .nav-cont {
    flex-wrap: wrap;
  }
  .nav-cont div{
    width: 100%;
    max-width: 100%;
  }
  .nt-nav-button {
    flex-grow: 3;
    text-align: center;
  }
}

@media (max-width: 355pt) {
  :root {
    --spacing: 10px;
    --double-spacing: 20px;
    --half-spacing: 5px;
  }
}

.nt-nav-button {
  background-color: var(--bs);
  background-color: var(--ligt-gray);
  padding: var(--nt-btn-pad);
  border-radius: var(--nt-radius);
  -webkit-border-radius: var(--nt-radius);
  -moz-border-radius: var(--nt-radius);
  -ms-border-radius: var(--nt-radius);
  -o-border-radius: var(--nt-radius);
  color: black;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  border: none;
}

.nt-nav-button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.nt-text-grayed {
  color: var(--light-gray-text);
}

.div-no-pd-no-mr {
  margin: 0 !important;
  padding: 0 !important;
}

.bs-btn {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 2px solid transparent;
  padding: var(--half-spacing) var(--spacing);
  font-size: medium;
  border-radius: 6px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.bs-btn:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.no-text-deco, .no-text-deco * {
  text-decoration: none !important;
}

/* Intro animation START */

.container {
  animation: 1s ease-out 0s ;
  -webkit-animation: 1s ease-out 0.5s slideUpIntro;
}

@keyframes slideUpIntro {
  0% {
      transform: translateY(50px);
      opacity: 0%;
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
}

  50%{
      opacity: 0%;
  }

  100% {
      transform: translateY(0px);
      opacity: 100%;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
}
}

/* Intro animation END */

/* Nav START */

.title {
  font-size: x-large; 
}

.flex {
  display: flex;
}

.body-padded {
  padding: var(--spacing);
}

.nt-logo {
  font-weight: 600;
}

.nt-logo:hover {
  background-color: var(--apple-blue);
  color: white;
}

.nav-cont {
  flex-wrap: wrap;
  gap: var(--half-spacing);
  margin-bottom: var(--half-spacing);
}

.nav-cont div {
  width: fit-content;
}

.navigation {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing);
}

/* Nav END */

/* All pages basic START */

.page-title {
  font-weight: 400;
}

/* All pages basic END */