@import url(../basic.css);

html {
    line-height: 1.5;
}
.container {
    max-width: 700px;
    margin: auto;
    padding-bottom: var(--spacing);
}
.container div {
    width: 100%;
    height: fit-content;
    padding: var(--spacing);
}
.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.par {
    width: 100%;
    margin-bottom: var(--half-spacing);
}
.date {
    width: 100%;
}
.blog-image {
    margin-top: var(--half-spacing);
    margin-bottom: var(--spacing);
    width: fit-content !important;
    padding: 0 !important;
}
.blog-image img {
    max-height: 500px;
}
.blog-image p {
    line-height: 1;
    width: 100%;
    text-align: right;
    font-size: small;
    margin: 0;
}
.blog-image a {
    color: var(--light-gray-text);
}

.blog-title {
    font-size: large;
}

button {
    align-self: baseline;
    margin-top: var(--spacing);
}

.nt-logo {
    text-decoration: none;
}

.custom-nopdmr {
    margin-top: var(--spacing);
    padding: 0 !important;
    line-height: 1;
}