<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../basic.css" />
    <link rel="stylesheet" href="../blog-style.css" />
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <title>Blog entry | Nicolas Trillo</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Lorem, ipsum dolor.</h1>
        <p class="nt-text-grayed date">Nicolas Trillo, 01.01.1970</p>
      </div>
      <div class="text-container">
        <p class="par">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
          fugiat laborum iste velit reprehenderit expedita? Culpa, earum ad
          dolorem necessitatibus veritatis eius quas recusandae ullam nam in
          nisi iure architecto. Culpa non sit obcaecati inventore voluptate
          possimus libero voluptatem aperiam earum quia quae, dolor distinctio.
          Facere dolorem id commodi perspiciatis.
        </p>
        <div class="blog-image">
          <img
            src="img-template.jpg"
            alt="rocky beach with an arch formation"
          />
          <p class="nt-text-grayed">
            <i
              >Mathilde Langevin,
              <a
                href="https://www.pexels.com/photo/rocks-forming-arch-on-beach-11843536/"
                >Pexels</a
              ></i
            >
          </p>
        </div>
        <p class="par">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam
          perspiciatis eius neque expedita perferendis labore quidem,
          voluptatibus voluptates pariatur! Dignissimos reprehenderit culpa
          deserunt perferendis, porro excepturi est possimus corporis tempora
          architecto ipsum maiores nemo qui dolor hic fuga. Quisquam soluta
          facere aperiam dignissimos veritatis impedit, ratione laborum cumque
          voluptatem ea dolor quod earum obcaecati, non dolorem praesentium
          expedita saepe quidem aliquam, officia voluptas rem. Ratione fugiat
          aliquid in deleniti eligendi!
        </p>
        <p class="par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid
          tenetur sequi
          <a href="https://www.qsasad.com">maxime sint alias</a> vero dolor?
          Dolorem, voluptatem! Dignissimos.
        </p>
      </div>
    </div>
  </body>
</html>
